body {
  color: white;
  font-family: Cambria;
}

#app-container {
  margin-top: 20px;
}

.container-col {
  text-align: right;
}

.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}
.align-middle {
  vertical-align: middle;
}
