body {
  color: white;
  background-image: url(../img/background.jpg);
  font-family: 'Times New Roman';
}

#app-container {
  margin-top: 20px;
}

.container-col {
  text-align: right;
}

.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}
.align-middle {
  vertical-align: middle;
}

.custom-btn-blue {
  background-color: #3498db;
}
.custom-btn-blue-outline {
  border-color: #3498db;
  color: #3498db;
}
.custom-btn-blue:hover,
.custom-btn-blue-outline:hover {
  background-color: #2980b9;
}

.custom-btn-green-outline {
  border-color: #219b54;
  color: #219b54;
}
.custom-btn-green:hover,
.custom-btn-green-outline:hover {
  background-color: #219b54;
  border-color: #219b54;
}

.custom-btn-grey {
  background-color: #7f8c8d;
  border-color: #7f8c8d;
}

.custom-btn-red {
  background-color: #e74c3c;
  border-color: #e74c3c;
}

.text-black {
  color: black;
}

.toast-container {
  bottom: 20px;
  position: fixed;
  right: 20px;
  width: 285px;
}
