body {
  color: white;
}

.app-col {
  /*border: solid;*/
}
.container-col {
  text-align: right;
}

.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}
.align-middle {
  vertical-align: middle;
}
