#navigation-bar a {
  font-size: 1.2rem;
}

#logo {
  height: auto;
  left: 50%;
  margin-top: -15px;
  position: absolute;
  transform: translateX(-50%);
  width: 200px;
}

@media (max-width: 454px) {
  #logo {
    width: 170px;
  }

  .navbar-nav {
    text-align: right;
  }
}
