.transaction-btn {
  margin-bottom: 10px;
}

.trans-badge {
  cursor: pointer;
}
.trans-badge-modify {
  background-color: #17a2b8;
}
.trans-badge-modify:hover {
  background-color: #1ecbe6;
}
.trans-badge-delete {
  background-color: #c0392b;
}
.trans-badge-delete:hover {
  background-color: #e74c3c;
}

#year-dropdown {
  background-color: #2980b9;
  border-color: #2980b9;
  margin-bottom: 10px;
  width: 100%;
}
