.transaction-btn {
  margin-bottom: 10px;
}

.row-credit {
  background-color: rgb(157, 201, 157);
}
.row-debit {
  background-color: rgb(201, 157, 157);
}

.trans-badge {
  cursor: pointer;
}
.trans-badge-modify {
  background-color: #27ae60;
}
.trans-badge-modify:hover {
  background-color: #2ecc71;
}
.trans-badge-delete {
  background-color: #c0392b;
}
.trans-badge-delete:hover {
  background-color: #e74c3c;
}
